

ul(class="main-menu")
  li
    a(href="/add")
      |  <i class="material-icons">add_circle_outline</i> <span>New Entry</span>
  li
    a(href="/")
      |  <i class="material-icons">list</i> <span>View All</span>

h3
  |  <i class="material-icons">alarm</i> <span>Recent Posts</span>
each entry in entries
  ul(class="sidebar-entries")
    li
      a(href="/entry/#{entry._id}") #{entry.entryTitle}
