body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: block;
  padding: 4px;
}

.main-menu {
  padding-left: 0;
}
.main-menu li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}
#main label {
  display: block;
  padding-top: 10px;
}

#main input,
#main textarea {
  display: block;
  width: 100%;
  border: .5px solid gray;
  border-radius: 2px;
}

#main .submit {
  margin-top: 15px;
  width: 33%;
  color: white;
  background: blue;
  border-radius: 4px;
  border: none;
}

.entries {
  border-bottom: 1px solid darkgray;
}
