//structure
.container {
  background-color: #FFF;

  .sidebar, .main {
    padding: 2%;
  }

  .sidebar {
    width: 15%;
    display: block;
    float: left;

    h2 {
      font-size: 1.3em;
    }
  }
  .main {
    width: 77%;
    float: right;
    display: block;

    .no-posts {
      color: #fff;
    }
  }
}

//header
.header {
  background-image: url('../images/cityscape.jpg');
  background-color: black;
  background-position: center;
  padding-left: 2%;
  background-size: cover;
  height: 40vh;

  h1 {
    color: white;
    line-height: 40vh;
    margin: 0 auto;
    font-size: 6em;
    letter-spacing: -10px;
  }
}
