$theme-color: #a20025;
$secondary-color: orange;

.material-icons {
  vertical-align: middle;
}

@mixin global-button {
  display: inline-block;
  background: white;
  border-style: none;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;

  &:hover {
    color: $theme-color;
  }

  &:visited {
    color: #fff;
  }
}

@mixin single-entry-global-btn {
  border: 1px solid #000;
  border-radius: 3px;

  &:hover {
    background-color: #FFF;
    color: #000;

    a {
      color: #000;
    }
  }
}

body {
  background-color: $theme-color;
  font-family: 'Hind Guntur', sans-serif;
}

a {
  text-decoration: none;

  &:visited {
    color: initial;
  }
}
ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}
