body {

}
.container {
  background-color: white;

  .sidebar, .main {
    padding: 2%;
  }

  .sidebar {
    width: 18%;
    display: block;
    float: left;

    h2 {
      font-size: 1.3em;
    }
  }
  .main {
    width: 74%;
    float: right;
    display: block;
  }
}

ul {
  padding-left: 0;
  margin: auto;
  li {
    list-style-type: none;
    // display: inline-block;
    // width: 19%;
    // margin: .4%;
    height: 2em;
    line-height: 2em;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      display: block;
      text-align: center;
      height: 100%;
      width: 100%;
      border: 2px solid black;
      color: black;
      border-radius: 4px;

      &:hover {
        background-color: orange;
      }
    }
  }
}

.header {
  padding-left: 2%;
  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
}
