
ul.main-menu {
  margin: auto;
  li {
    height: 2em;
    line-height: 2em;
    padding: 2px;

    a {
      display: block;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        background-color: $secondary-color;
        color: white;
        border-radius: 2px;
      }
    }
  }
}

ul.sidebar-entries {
  li {
    a {
      padding-bottom: .5em;
      padding-left: 0;
      color: $secondary-color;
      font-weight: bold;
      display: block;
      &:hover {
        color: lighten($secondary-color, 15%);
      }
    }
  }
}
